<h1 translate="completed_tasks"></h1>
<p translate="completed_tasks_warning"></p>
<input ng-model="search" type="text" class="form-control" placeholder="Search" style="margin-bottom: 10px"  ng-show="tasks.length">
<table class="table table-striped table-hover" ng-show="tasks.length">
    <thead>
        <tr>
            <th translate="name"></th>
            <th translate="list"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in tasks | filter:search | orderBy:'updatedAt':true" ng-click="goTask(list, task)" class="fade">
            <td>{{task.name}}</td>
            <td>{{task.list}}</td>
        </tr>
    </tbody>
</table>
<p ng-hide="tasks.length" ng-bind-html="'no_completed_task' | translate"></p>
