<h1 translate="creation"></h1>
<p class="task-error" ng-hide="lists.length" translate="no_list"></p>

<form name="formList">
    <h2 translate="create_list"></h2>
    <div class="form-group">
         <label for="list">{{ 'list_name' | translate }}:</label>
         <input type="text" id="list" class="form-control" placeholder="{{ 'list' | translate }}" ng-model="newList.name" required>
    </div>
    <div class="form-group">
        <button class="btn btn-success" ng-disabled="formList.$invalid" ng-click="displayList()" translate="create_list"></button>
    </div>
</form>

<form name="formTask" ng-show="lists.length">
    <h2 translate="add_task"></h2>
    <div class="form-group">
         <label for="task-name">{{ 'task_name' | translate }}:</label>
         <input type="text" id="task-name" class="form-control" placeholder="{{ 'task' | translate }}" ng-model="newTask.name" required>
    </div>
    <div class="form-group">
         <label for="task-content">{{ 'task_description' | translate }}:</label>
         <input type="text" id="task-content" class="form-control" placeholder="{{ 'task_description' | translate }}" ng-model="newTask.content">
    </div>
    <div class="form-group">
        <label for="task-list">{{ 'task_list' | translate }}:</label>
        <select class="form-control" id="task-list" name="task-list" ng-options="list.name for list in lists track by list.name" ng-model="newTask.list" required>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-success" ng-disabled="formTask.$invalid" ng-click="displayTask()" translate="add_task"></button>
    </div>
</form>
