<h1 translate="first_configuration"></h1>
<p translate="app_description"></p>
<p translate="set_adress_and_account"></p>
<form name="formInit">
    <div class="form-group">
        <label for="adress">{{ 'adress' | translate }}:</label>
        <input type="text" id="adress" class="form-control" placeholder="{{ 'adress' | translate }}" ng-model="adress" required>
    </div>
    <div class="form-group">
        <label for="email">{{ 'user_email' | translate }}:</label>
        <input type="email" id="email" class="form-control" placeholder="{{ 'email' | translate }}" ng-model="user.email" required>
    </div>
    <div class="form-group">
        <label for="password">{{ 'user_password' | translate }}:</label>
        <input type="password" id="password" class="form-control" placeholder="{{ 'password' | translate }}" ng-model="user.password" required>
    </div>
    <div class="form-group">
        <button class="btn btn-success" ng-disabled="formInit.$invalid" style="float:right;" ng-click="start()" translate="use_application"></button>
    </div>
</form>
