<h1>{{nav.charAt(0).toUpperCase() + nav.substring(1).toLowerCase()}} lessons</h1>
<input ng-model="search" type="text" class="form-control" placeholder="Search" style="margin-bottom: 10px">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Substance</th>
            <th>Content</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | filter:search | orderBy:'updatedAt':true" ng-click="goItem(item)" class="fade">
            <td>{{item.substance}}</td>
            <td>{{item.keywords | limitTo : 20}}</td>
            <td>{{item.updatedAt | date: 'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>